<StackLayout>

  <StackLayout class="criteria">

    <Label class="dropdownLabel" text="What Are You Into?" fontSize="18" verticalAlignment="bottom"></Label>
    <DropDown #dd class="dropdown" [items]="categories" [selectedIndex]="selectedCategoryIndex" (selectedIndexChange)="onCategoryChange(dd.selectedIndex)"></DropDown>
    <Label class="dropdownLabel" text="When Do You Want To Go?" fontSize="18" verticalAlignment="bottom"></Label>
    <DropDown #ddd class="dropdown" [items]="timeframes" [selectedIndex]="selectedTimeframeIndex" (selectedIndexChange)="onTimeframeChange(ddd.selectedIndex)"></DropDown>
    <Label class="dropdownLabel" text="Want To Spend Money?" fontSize="18" verticalAlignment="bottom"></Label>
    <DropDown #dds class="dropdown" [items]="spending" [selectedIndex]="selectedSpendingIndex" (selectedIndexChange)="onSpendingChange(dds.selectedIndex)"></DropDown>
    <Label class="dropdownLabel" text="Where Do You Want To Go?" fontSize="18" verticalAlignment="bottom"></Label>
    <TextField hint="Location: City, State" [(ngModel)]="location"></TextField>
    <Button text="Find Events!" (tap)="onTap()"></Button>

  </StackLayout>

</StackLayout>


