@import { url('~/platform.css') };



.title {
    font-size: 30;
    margin: 10;
    color: white;
    horizontal-align: center;
}

.noMatches {
  horizontal-align: center;
}

.eventTitle {
  background-color: #223947;
  width: 100%;
  color: white;
}

.dropdown {
  margin: 10;
  padding: 10;
  color: blue;
}

.dropdownLabel {
  margin: 10;
}

.noImage {
  horizontal-align: center;
}

list-view {
  height: 100%;
}

text-field {
  font-size: 20;
  width: 100%;
  margin: 10;
  padding: 10;
}

dock-layout {
  background-color: #223947;
  width: 100%;
}

Page {
    background-color: grey;
    font-size: 17;
}

Image {
    margin-top: 20;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80;
}

.odd {
    background-color: white;
}

.even {
    background-color: grey;
}